<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.custro.siclowi">

    <application
        android:label="SiCloWi">
        <receiver
            android:name=".AnalogAppWidgetProvider"
            android:exported="true"
            android:label="@string/analog_gadget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.SHOW_ALARMS" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.oldName"
                android:value="org.custro.siclowi.AnalogAppWidgetProvider" />
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/analog_appwidget" />
        </receiver>

        <receiver
            android:name=".DigitalAppWidgetProvider"
            android:exported="true"
            android:label="@string/digital_gadget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.SHOW_ALARMS" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/digital_appwidget" />
        </receiver>

    </application>

</manifest>